<!--====== Footer Area Start ======-->
    <footer class="footer-area bg-gray">
      <!-- Footer Top -->
      <div class="footer-top ptb_100">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Logo -->
                <a class="navbar-brand" href="pricing.html#">
                  <img class="logo" src="assets/img/logo/logo.png" alt="">
                </a>
                <p class="mt-2 mb-3">Supported hack app/game of iOS.</p>
                <!-- Social Icons -->
                <div class="social-icons d-flex">
                  <a class="facebook" href="pricing.html#">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="twitter" href="pricing.html#">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a class="google-plus" href="pricing.html#">
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                  <a class="vine" href="pricing.html#">
                    <i class="fab fa-vine"></i>
                    <i class="fab fa-vine"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Footer Title -->
                <h3 class="footer-title mb-2">Useful Links</h3>
                <ul>
                  <li class="py-2"><a href="/index.html">Home</a></li>
                  <li class="py-2"><a href="/tutorial">Configuration</a></li>
                  <li class="py-2"><a href="/gameios">Game iOS</a></li>
                  <li class="py-2"><a href="/index.html">Apple ID</a></li>
                  <li class="py-2"><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Footer Title -->
                <h3 class="footer-title mb-2">Product Help</h3>
                <ul>
                  <li class="py-2"><a href="/listapp">List App Supported</a></li>
                  <li class="py-2"><a href="/thanhtoan">Payment Guide</a></li>
                  <li class="py-2"><a href="/contact">Contact</a></li>
                  <li class="py-2"><a href="pricing.html#"></a></li>
                  <li class="py-2"><a href="/about">About Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Footer Title -->
                <h3 class="footer-title mb-2">Download</h3>
                <!-- Store Buttons -->
                <div class="button-group store-buttons store-black d-flex flex-wrap">
                  <a href="pricing.html#">
                    <img src="assets/img/icon/google-play-black.png" alt="">
                  </a>
                  <a href="pricing.html#">
                    <img src="assets/img/icon/app-store-black.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
	 </div>
	 </footer>
< <!--====== Footer Area Start ======-->
        <footer class="footer-area footer-fixed">
            <!-- Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright Area -->
                            <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                                <!-- Copyright Left -->
                                <div class="copyright-left">&copy; Copyrights 2021 Made with <i class="fas fa-heart"></i> By <a href="/contact">Black Yuki.</a></div>
                                <!-- Copyright Right -->
                                <div class="copyright-right"><a href="/about">About Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--====== Footer Area End ======-->
