<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Title  -->
	<title>{{ page.title }} | Black Yuki | Dương Tiến Đạt, Photographer, Engineer and Programmer.</title>	
	
	<!-- Favicon  -->
	<link rel="icon" href="/assets/img/favicon.png">
	
	<!-- *** -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	
	<!-- ***** All CSS Files ***** -->

	<!-- Style css -->
	<link rel="stylesheet" href="/assets/css/styles.css">

	<!-- Responsive css -->
	<link rel="stylesheet" href="/assets/css/responsive.css">
	
</head>
