---
---
@charset "utf-8";
// Core variables and mixins
@import "_sass/base/variables.scss";
@import "_sass/base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "_sassbase/page.scss";

// Components
@import "_sass/components/buttons.scss";
@import "_sass/components/navbar.scss";
@import "_sass/components/client-scroll.scss";

// Layout
@import "_sass/layout/masthead.scss";
@import "_sass/layout/services.scss";
@import "_sass/layout/portfolio.scss";
@import "_sass/layout/timeline.scss";
@import "_sass/layout/team.scss";
@import "_sass/layout/contact.scss";
@import "_sass/layout/footer.scss";
